.message-preview {
  position: relative;
  padding: 16px 0 0 20px;

  .message-source {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;

    img {
      margin-top: 7px;
    }
  }

  // new:
  .message-source-duo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 74px;
    height: 36px;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;

    img {
      margin-top: -25px;
      width: 23px;
      height: 23px;
    }

    .divider {
      display: inline-block;
      width: 1px;
      border-right: 1px solid #ccc;
      height: 100%;
    }
  }

  .message-title {
    background-color: #DDDDDE;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8f;
    padding-left: 62px;

    .pull-right {
      margin-right: 5px;
    }
  }

  .message-content {
    background-color: #D4D4D5;
    border-radius: 0 0 3px 3px;

    &.has-conditions {
      border-radius: 0;
    }
  }

  .message-conditions {
    background-color: #DDDDDE;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8f;
    padding: 0 3px;
  }

  .warning-bubble {
    border-radius: 50%;
    background-color: #ff3131;
    padding: 2px;
    position: absolute;
    left: 26px;
    top: -3px;
    width: 18px;
    height: 18px;
    color: #ffd4ac;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
  }
}

/* SLACK */

.template-slack-preview {
  position: relative;
  color: #2c2d30;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }

  .message-gutter {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    padding-right: 10px;

    .message-icon {
      margin-top: 14px;
      display: block;

      img {
        border-radius: 36px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        top: -5px;
        left: 2px;
      }
    }
  }

  .message-content {
    margin: 1px 0 0 36px;

    .message-content-header {
      display: flex;
      align-items: baseline;

      .message-content-header-left {
        flex: 1 1 auto;

        .message-sender {
          margin-right: .25rem;
          display: inline;
          font-weight: 900;
          color: #2c2d30;
          line-height: 18px;

          a {
            color: #2c2d30;
            font-weight: 900;
            cursor: pointer;
            text-decoration: none;
          }

          .bot-label {
            color: #a3a3a3;
            font-weight: normal;
            font-size: 12px;
            margin: 0 .15rem;
            padding: 0 .1rem;
            display: inline;
          }
        }

        .time-star-and-extra-metadata a {
          text-decoration: none;
          cursor: default;
          margin-right: .25rem;
          opacity: 1;
          display: inline;
          line-height: 18px;
          color: #717274;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }

    .text {
      padding: 1px 0 3px 0;
    }

    .attachment {
      border-left: 3px solid #e8e8e8;
      padding: 0 0 0 8px;
      margin: 0 0 3px 0;

      .attachment-title {
        font-size: 15px;
        font-weight: bold;
      }

      .author {
        color: #717274;
      }

      .attachment-ts {
        color: #999;
        font-size: 11px;
        padding-top: 3px;
      }
    }
  }

  pre {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ddd;
    color: #777;
    margin-bottom: 2px;
  }
}

/* JABBER */

.template-jabber-preview {
  position: relative;
  color: #212121;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  .message-content {
    margin: 1px 0 0 8px;

    .message-content-header {
      display: flex;
      align-items: baseline;

      .message-content-header-left {
        flex: 1 1 auto;

        .message-sender {
          margin-right: .25rem;
          display: inline;
          font-weight: 900;
          color: #2c2d30;
          line-height: 18px;

          a {
            color: #2c2d30;
            font-weight: 900;
            cursor: pointer;
            text-decoration: none;
          }

          .bot-label {
            color: #a3a3a3;
            font-weight: normal;
            font-size: 12px;
            margin: 0 .15rem;
            padding: 0 .1rem;
            display: inline;
          }
        }

        .time-star-and-extra-metadata a {
          text-decoration: none;
          cursor: default;
          margin-right: .25rem;
          opacity: 1;
          display: inline;
          line-height: 18px;
          color: #717274;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }

    .text {
      padding: 1px 0 3px 0;
    }
  }

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }
}

/* GCHAT */

.template-gchat-preview {
  position: relative;
  color: #212121;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  .message-gutter {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    padding-right: 10px;

    .message-icon {
      margin-top: 14px;
      display: block;

      img {
        border-radius: 36px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        top: -5px;
        left: 2px;
      }
    }
  }

  .message-prefix, .message-content, .message-cards {
    margin: 1px 0 0 36px;
  }

  .message-cards {
    .card {
      border: 1px solid rgba(0, 0, 0, 0.11999999731779099);
      background-color: #fff;
      width: 320px;

      .card-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.11999999731779099);
        padding: 8px 24px;
        position: relative;

        &.has-icon {
          padding-left: 64px;
        }

        img {
          position: absolute;
          left: 16px;
          top: 8px;
          object-fit: cover;
          width: 32px;
          height: 32px;

            &.image-style-AVATAR {
              border-radius: 50%;
            }
        }

        h3 {
          font-size: 14px;
          font-weight: normal;
          color: #212121;
          margin: 0 0 4px 0;
        }

        h4 {
          font-size: 14px;
          font-weight: normal;
          color: #757575;
          margin: 6px 0 0 0;
        }
      }

      .card-section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.11999999731779099);

        &:last-child {
          border-bottom: none;
        }

        > .section-header {
          color: rgba(158, 158, 158, 1);
          padding-top: 4px;
          padding-bottom: 4px;
        }

        > .widget {
          padding: 8px 24px;

          &.widget-image {
            padding: 0;
            img {
              width: 100%;
              object-fit: cover;
            }
          }

          &.widget-keyvalue {
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            > div {
              max-width: 100%;
              max-height: 100%;
            }

            .icon {
              height: 20px;
              width: 20px;
              margin-right: 16px;
              order: 0;
            }

            .kv {
              flex-grow: 1;
              flex-shrink: 0;
              flex-basis: 0%;
              order: 1;
              overflow: hidden;

              .kv-toplabel, & .kv-bottomlabel {
                line-height: 16px;
                white-space: nowrap;
                font-size: 12px;
                color: rgba(158, 158, 158, 1);
              }

              .kv-content {
                line-height: 22px;
                white-space: nowrap;
                font-size: 14px;
                color: rgba(33, 33, 33, 1);

                &.multiline {
                  white-space: normal;
                }
              }
            }
          }

          .kv-button {
            order: 2;
            color: #039be5;
            white-space: nowrap;
            text-align: center;
            line-height: 20px;
            padding-right: 12px;
            padding-left: 12px;
            font-size: 14px;
          }

          &.widget-buttons {
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: left;

            .widget-button {
              max-width: 100%;
              max-height: 100%;
              flex-grow: 0;
              flex-shrink: 1;
              flex-basis: 30px;
              overflow: hidden;
              color: #1e88e5;

              &.text {
                flex-grow: 1;
                text-transform: uppercase;
              }

              img {
                height: 20px;
                width: 20px;
                object-fit: cover;

                &.icon {

                }
              }
            }
          }

        }
      }
    }
  }
}

/* Pushover */

.template-pushover-preview {
  position: relative;
  color: #212121;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  .message-content {
    margin: 1px 0 0 8px;

    .message-content-header {
      display: flex;
      align-items: baseline;

      .message-content-header-left {
        flex: 1 1 auto;

        .message-sender {
          margin-right: .25rem;
          display: inline;
          font-weight: 900;
          color: #2c2d30;
          line-height: 18px;

          a {
            color: #2c2d30;
            font-weight: 900;
            cursor: pointer;
            text-decoration: none;
          }

          .bot-label {
            color: #a3a3a3;
            font-weight: normal;
            font-size: 12px;
            margin: 0 .15rem;
            padding: 0 .1rem;
            display: inline;
          }
        }

        .time-star-and-extra-metadata {
          float: right;

          a {
            text-decoration: none;
            cursor: default;
            margin-right: .25rem;
            opacity: 1;
            display: inline;
            line-height: 18px;
            color: #717274;
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }

    .text {
      padding: 1px 0 3px 0;
    }
  }

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }
}

/* Ntfy */

.template-ntfy-preview {
  position: relative;
  color: #000000;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  .message-content {
    margin: 1px 0 0 8px;
    background-color: rgb(211, 211, 211);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    overflow: hidden;
    padding: 8px;

    .message-content-time {
      margin: 0px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
    }

    .message-content-title {
      margin: 0px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.334;
      letter-spacing: 0em;
    }

    .message-content-msg {
      margin: 0px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      white-space: pre-line;
    }

    .actions {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 0px 8px 8px;
      overflow-x: auto;
    }

    .action-button {
      border: none;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 9pt;
      line-height: 1.75;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      min-width: 64px;
      color: rgb(51, 133, 116);
      outline: 0px;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      margin: 0px;
      text-decoration: none;
      padding: 6px 8px;
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }
}
