.message-preview {
  position: relative;
  padding: 16px 0 0 20px;

  .message-source {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;

    img {
      margin-top: 7px;
    }
  }

  // new:
  .message-source-duo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 74px;
    height: 36px;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    background: #fff;

    img {
      margin-top: -25px;
      width: 23px;
      height: 23px;
    }

    .divider {
      display: inline-block;
      width: 1px;
      border-right: 1px solid #ccc;
      height: 100%;
    }
  }

  .message-title {
    background-color: #DDDDDE;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8f;
    padding-left: 62px;

    .pull-right {
      margin-right: 5px;
    }
  }

  .message-content {
    background-color: #D4D4D5;
    border-radius: 0 0 3px 3px;

    &.has-conditions {
      border-radius: 0;
    }
  }

  .message-conditions {
    background-color: #DDDDDE;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8f;
    padding: 0 3px;
  }

  .warning-bubble {
    border-radius: 50%;
    background-color: #ff3131;
    padding: 2px;
    position: absolute;
    left: 26px;
    top: -3px;
    width: 18px;
    height: 18px;
    color: #ffd4ac;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
  }
}

/* SLACK */

.template-slack-preview {
  position: relative;
  color: #2c2d30;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }

  .message_gutter {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    padding-right: 10px;

    .message_icon {
      margin-top: 14px;
      display: block;

      img {
        border-radius: 36px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        top: -5px;
        left: 2px;
      }
    }
  }

  .message_content {
    margin: 1px 0 0 36px;

    .message_content_header {
      display: flex;
      align-items: baseline;

      .message_content_header_left {
        flex: 1 1 auto;

        .message_sender {
          margin-right: .25rem;
          display: inline;
          font-weight: 900;
          color: #2c2d30;
          line-height: 18px;

          a {
            color: #2c2d30;
            font-weight: 900;
            cursor: pointer;
            text-decoration: none;
          }

          .bot_label {
            color: #a3a3a3;
            font-weight: normal;
            font-size: 12px;
            margin: 0 .15rem;
            padding: 0 .1rem;
            display: inline;
          }
        }

        .time_star_and_extra_metadata a {
          text-decoration: none;
          cursor: default;
          margin-right: .25rem;
          opacity: 1;
          display: inline;
          line-height: 18px;
          color: #717274;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }

    .text {
      padding: 1px 0 3px 0;
    }

    .attachment {
      border-left: 3px solid #e8e8e8;
      padding: 0 0 0 8px;
      margin: 0 0 3px 0;

      .attachment-title {
        font-size: 15px;
        font-weight: bold;
      }

      .author {
        color: #717274;
      }

      .attachment-ts {
        color: #999;
        font-size: 11px;
        padding-top: 3px;
      }
    }
  }

  pre {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ddd;
    color: #777;
    margin-bottom: 2px;
  }
}

/* JABBER */

.template-jabber-preview {
  position: relative;
  color: #212121;
  line-height: 22px;
  word-wrap: break-word;
  padding: .5rem;

  .message_content {
    margin: 1px 0 0 8px;

    .message_content_header {
      display: flex;
      align-items: baseline;

      .message_content_header_left {
        flex: 1 1 auto;

        .message_sender {
          margin-right: .25rem;
          display: inline;
          font-weight: 900;
          color: #2c2d30;
          line-height: 18px;

          a {
            color: #2c2d30;
            font-weight: 900;
            cursor: pointer;
            text-decoration: none;
          }

          .bot_label {
            color: #a3a3a3;
            font-weight: normal;
            font-size: 12px;
            margin: 0 .15rem;
            padding: 0 .1rem;
            display: inline;
          }
        }

        .time_star_and_extra_metadata a {
          text-decoration: none;
          cursor: default;
          margin-right: .25rem;
          opacity: 1;
          display: inline;
          line-height: 18px;
          color: #717274;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }

    .text {
      padding: 1px 0 3px 0;
    }
  }

  a, & a:link, & a:visited {
    color: #0576b9;
    text-decoration: none;
  }
}
