.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 98%;
  //  max-width: 1170px;
  margin: 0 auto;
}
.vertical-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.v-timeline {
  position: relative;
  padding:0;
  margin-top: 2em;
  margin-bottom: 2em;

  &.no-margin {
    margin: 0;
  }
}
.v-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: $timeline-color;
}

.vertical-timeline-content .btn {
  float: right;
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}
.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-block:first-child {
  margin-top: 0;
}
.vertical-timeline-block:last-child {
  margin-bottom: 0;
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 1px solid $timeline-color;
  text-align: center;
  background: $background-color;
  color: $timeline-icon;

  &.has-title {
    //margin-top: 20px;
  }

  i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -9px;
  }

  img {
    margin-top: 8px;
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background-color: #D9D9DA;
  border-radius: 0.25em;

  &.has-title {
    margin-top: 20px;
    border-radius: 0 0 0.25em 0.25em;
  }

  &.has-conditions {
    margin-bottom: 54px;
    border-radius: 0 0 0.25em 0.25em;
  }

  &.has-title.has-conditions {
    border-radius: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h2 {
    font-weight: 400;
    margin-top: 4px;
  }

  p {
    margin: 1em 0 0 0;
    line-height: 1.6;
  }

  .vertical-date {
    font-weight: 500;
    text-align: right;

    small {
      color: #888;
      font-weight: 400;
    }
  }

  .warning-bubble {
    border-radius: 50%;
    background-color: #ff3131;
    padding: 2px;
    position: absolute;
    right: -8px;
    top: 4px;
    width: 18px;
    height: 18px;
    color: #ffd4ac;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
  }

  > .title {
    position: absolute;
    left: 0;
    top: -18px;
    color: darken(#D9D9DA, 30%);
    background-color: lighten(#D9D9DA, 3%);
    border-radius: 0.25em 0.25em 0 0;
    width: 100%;
    padding: 0 25px 0 4px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .delete-link, .edit-link {
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  > .conditions {
    position: absolute;
    left: 0;
    bottom: -18px;
    color: darken(#D9D9DA, 15%);
    background-color: lighten(#D9D9DA, 3%);
    border-radius: 0 0 0.25em 0.25em;
    width: 100%;
    padding: 0 25px 0 4px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 }

.vertical-timeline-content:after, .vertical-timeline-content:before {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.vertical-timeline-content:after {
  border-color: transparent;
  border-right-color: #D9D9DA;
  border-width: 10px;
  margin-top: -10px;
}

.vertical-timeline-content:before {
  border-color: transparent;
  border-right-color: #D9D9DA;
  border-width: 11px;
  margin-top: -11px;
}

.vertical-timeline-content h2 {
  font-size: 16px;
}

.vertical-timeline-content .template-slack-preview {
  margin-left: 10px;
}
