---
services:
  app:
    image: node:21-slim
    ports:
      - "${HTTP_PORT:-3000}:80"
    environment:
      FORCE_COLOR: 1
      DEBUG: "${DEBUG:-}"
      NODE_ENV: "${NODE_ENV:-development}"
    volumes:
      - .:/app
    depends_on:
      - db
    links:
      - db
    working_dir: /app
    command: yarn nodemon

  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: "juxtapose"
      MYSQL_DATABASE: "juxtapose"
      MYSQL_USER: "juxtapose"
      MYSQL_PASSWORD: "juxtapose"
    volumes:
      - ./config/my.cnf:/etc/mysql/conf.d/juxtapose.cnf
      - ./data/mysql:/var/lib/mysql
      - ./data/initial-sql:/docker-entrypoint-initdb.d
