<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <% if (isSelf()) { %>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Current Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="" name="current_password" value="" minlength="1" required>
                    </div>
                </div>
                <% } %>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="" name="new_password1" value="" minlength="8" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="" name="new_password2" value="" minlength="8" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-accent save">Save</button>
            </div>
        </form>
    </div>
</div>
