<section class="content">
    <div class="container-fluid">
        <div class="view-header">
            <div class="header-title">
                <h3 class="m-b-xs">Recent Notifications</h3>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="v-timeline vertical-container timeline-region no-margin"></div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-xs refresh pull-right">Refresh</button>
        </div>
    </div>
</section>
