<section class="content">
    <div class="container-fluid">

        <div class="view-header">
            <div class="header-title">
                <a href="#" class="btn btn-default btn-sm pull-right add-rule">Add Rule</a>
                <h3 class="m-b-xs">Rules</h3>
            </div>
        </div>
        <hr>

        <div class="panel">
            <div class="panel-body">
                <div class="list-region"><!-- List Region --></div>
                <div class="pagination"></div>
            </div>
        </div>

    </div>
</section>
