<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-left">
            <h4 class="modal-title"><%- name %> Endpoint</h4>
        </div>
        <div class="modal-body">

            <% if (type === 'jira-webhook') { %>
                <p>Put this in Jira:</p>
            <% } else if (type === 'bitbucket-webhook') { %>
                <p>Put this in your Bitbucket Repository Webhook Settings:</p>
            <% } %>

            <div class="form-group">
                <input type="text" class="form-control" name="endpoint" value="<%- getEndpoint() %>" readonly>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
