<thead>
    <th width="30">&nbsp;</th>
    <th class="<%- getSortWedgeClass('name') %>"><a href="#name">Name</a></th>
    <th class="<%- getSortWedgeClass('email') %>"><a href="#email">Email</a></th>
    <th>Roles</th>
    <th class="<%- getSortWedgeClass('rule_count') %>"><a href="#rule_count">Rules</a></th>
    <th>&nbsp;</th>
</thead>
<tbody>
    <!-- items -->
</tbody>
