<section class="content">
    <div class="container-fluid">

        <div class="view-header">
            <div class="header-title">
                <a href="#" class="btn btn-default btn-sm pull-right add-service">Add Service</a>
                <a href="#" class="btn btn-default btn-sm pull-right restart-services">Restart Services</a>
                <h3 class="m-b-xs">Services</h3>
            </div>
        </div>
        <hr>

        <div class="list-region"><!-- List Region --></div>
        <div class="pagination"></div>

    </div>
</section>
