<div class="modal-dialog">
	<div class="modal-content">
		<form class="form-horizontal">
			<div class="modal-header text-left">
				<h4 class="modal-title">Add Service</h4>
			</div>
			<div class="modal-body">

				<h4>Incoming Service</h4>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="jira-webhook">
						<img src="images/services/jira-webhook.png" alt="Jira Webhook" border="0">
						<p>Jira<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="bitbucket-webhook">
						<img src="images/services/bitbucket-webhook.png" alt="Bitbucket Webhook" border="0">
						<p>Bitbucket<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="dockerhub-webhook">
						<img src="images/services/dockerhub-webhook.png" alt="Docker Hub Webhook" border="0">
						<p>Docker Hub<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="zendesk-webhook">
						<img src="images/services/zendesk-webhook.png" alt="Zendesk Webhook" border="0">
						<p>Zendesk<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="jenkins-webhook">
						<img src="images/services/jenkins-webhook.png" alt="Jenkins Webhook" border="0">
						<p>Jenkins<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="gerrit-webhook">
						<img src="images/services/gerrit-webhook.png" alt="Gerrit Webhook" border="0">
						<p>Gerrit<br><small>&nbsp;</small></p>
					</div>
				</div>

				<h4>Outgoing Service</h4>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="slack">
						<img src="images/services/slack.png" alt="Slack" border="0">
						<p>Slack<br><small>&nbsp;</small></p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="gchat">
						<img src="images/services/gchat.png" alt="Google Chat" border="0">
						<p>Google Chat</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="pushover">
						<img src="images/services/pushover.png" alt="Pushover" border="0" class="round">
						<p>Pushover</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="ntfy">
						<img src="images/services/ntfy.png" alt="Ntfy" border="0" class="round">
						<p>Ntfy</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="jabber">
						<img src="images/services/jabber.png" alt="Jabber / XMPP" border="0">
						<p>Jabber / XMPP</p>
					</div>
				</div>

				<div class="clear"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>
</div>
