<section class="content">
    <div class="container-fluid">

        <div class="view-header">
            <div class="header-title">
                <a href="#" class="btn btn-default btn-sm pull-right add-template">Add Template</a>
                <h3 class="m-b-xs">Templates</h3>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="jira-region v-timeline vertical-container no-margin"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="bitbucket-region v-timeline vertical-container no-margin"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="dockerhub-region v-timeline vertical-container no-margin"></div>
            </div>
        </div>
    </div>
</section>
