<section class="content">
    <div class="container-fluid">

        <div class="view-header">
            <div class="header-title">
                <a href="#" class="btn btn-default btn-sm pull-right add-template">Add Template</a>
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="current-filter">All Services</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-type="bitbucket-webhook">Bitbucket</a></li>
                        <li><a href="#" data-type="dockerhub-webhook">Docker Hub</a></li>
                        <li><a href="#" data-type="jenkins-webhook">Jenkins</a></li>
                        <li><a href="#" data-type="jira-webhook">Jira</a></li>
                        <li><a href="#" data-type="zendesk-webhook">Zendesk</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" data-type="slack">Slack</a></li>
                        <li><a href="#" data-type="jabber">Jabber</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" data-type="">All Services</a></li>
                    </ul>
                </div>
                <h3 class="m-b-xs">Templates</h3>
            </div>
        </div>
        <hr>
        <div class="grid-region"></div>
    </div>
</section>
