<section class="content">
    <div class="container-fluid">

        <div class="view-header">
            <div class="header-title">
                <a href="#" class="btn btn-default btn-sm pull-right add-template">Add Template</a>
                <h3 class="m-b-xs">Templates</h3>
            </div>
        </div>
        <hr>

        <div class="list-region"><!-- List Region --></div>
    </div>
</section>
