#templates .template {
  position: relative;
  margin-bottom: 15px;

  .panel {
    margin-bottom: 0;
  }

  .panel-filled {
    background-color: #fff;

    .panel-body > .links {
      position: absolute;
      right: 20px;
      top: 12px;
    }
  }

  > h4 {
    margin-bottom: 2px;
    color: lighten($color-font, 20%);

    img {
      width: 22px;
      height: 22px;
      margin-right: 2px;
    }
  }
}

