// Libraries
$fa-font-path: '/fonts/font-awesome';
$bootstrap-font-path: '/fonts/bootstrap';

// UI vars
$top-height: 70px;
$side-width: 250px;
$bottom-height: 70px;

@import 'fontawesome/font-awesome';
@import '../../../node_modules/normalize-css/normalize';
@import '../../../node_modules/bootstrap/dist/css/bootstrap';

// Styles
@import 'theme';
@import 'pages/login';
@import 'pages/app';
@import 'pages/services';
@import 'pages/add-new-service';
@import 'pages/user-service-settings';
@import 'pages/templates';
@import 'pages/template-preview';
@import 'pages/add-new-template';
@import 'pages/add-new-rule';
@import 'pages/rules';
