<div class="vertical-timeline-icon">
    <i class="fa fa-exclamation-triangle"></i>
</div>
<div class="vertical-timeline-content">
    <div class="p-sm">
        <h2>Nothing to see here</h2>
        <p>Looks like you haven't had a notification fire yet.</p>
    </div>
</div>
