<div class="vertical-timeline-icon">
    <img src="images/services/<%- service.type %>.png" alt="<%- service.name %>" title="<%- service.name %>" border="0" width="23" height="23">
</div>
<div class="vertical-timeline-content">
    <%= getPreview() %>
</div>

