<div class="vertical-timeline-icon">
    <img src="images/services/<%- rule.in_service.type %>.png" alt="<%- rule.in_service.name %>" title="<%- rule.in_service.name %>" border="0" width="23" height="23">
</div>
<div class="vertical-timeline-content">
    <%= getPreview() %>
</div>

