<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Add Template</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="slack">
                        <img src="images/services/slack.png" alt="Slack" border="0">
                        <p>Slack Message<br><small>&nbsp;</small></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="gchat">
                        <img src="images/services/gchat.png" alt="Google Chat" border="0">
                        <p>Google Chat Message<br><small>&nbsp;</small></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" rel="jabber">
                        <img src="images/services/jabber.png" alt="Jabber / XMPP" border="0">
                        <p>Jabber Message<br><small>&nbsp;</small></p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
