<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Select Incoming Service Type</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" data-service_type="jira-webhook">
                        <img src="images/services/jira-webhook.png" alt="Jira Webhook" border="0">
                        <p>Jira Webhook<br><small>&nbsp;</small></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" data-service_type="bitbucket-webhook">
                        <img src="images/services/bitbucket-webhook.png" alt="Bitbucket Webhook" border="0">
                        <p>Bitbucket Webhook<br><small>&nbsp;</small></p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
