<div class="modal-dialog">
	<div class="modal-content">
		<form class="form-horizontal">
			<div class="modal-header text-left">
				<h4 class="modal-title"><% if (typeof id !== 'undefined') { %>Edit<% } else { %>New<% } %> Slack Bot</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="col-sm-3 control-label">Bot Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" placeholder="" name="name" value="<%- name %>" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Slack API Token</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" placeholder="" name="api_token" value="<%- typeof data.api_token !== 'undefined' ? data.api_token : '' %>" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Send From</label>
					<div class="col-sm-9">
						<select class="form-control" name="post_as">
							<option value="bot">App Bot</option>
							<option value="slackbot"<% if (typeof data.post_as !== 'undefined' && data.post_as === 'slackbot') { %> selected<% } %>>Slackbot (allows custom icon)</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<% if (typeof id !== 'undefined') { %><button type="button" class="btn btn-danger delete pull-left">Delete</button><% } %>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-accent save">Save</button>
			</div>
		</form>
	</div>
</div>
